* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(45deg, #4169E1, #0F52BA);
}

.container {
    height: 100vh;
    width: 100%;
}

.card {
    width: 100%;
    max-width: 540px;
    background: linear-gradient(135deg, #FFF5EE, #FCF5E5);
    margin: 100px auto 30px;
    border-radius: 8px;
    padding: 40px 35px;
}

.header {
    text-align: left; 
    display: flex;
    align-items:flex-start;
}

.header h2 {
    font-size: 85px;
    margin-top: 0;
}

.header  img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.add-box {
    margin: 25px 0;
    display: flex;
    position: relative;
}

.add-box input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 12px 24px;
}

.add-box button {
    position: absolute;
    right: 0;
    height: 40px;
    background-color: #FF5733;
    border: 0;
    outline: 0;
    color: #fff;
    width: 70px;
    border-radius: 30px;
}

.list-container {
    padding: 0 35px;
}

ul li {
    list-style: none;
    user-select: none;
    padding: 15px 0;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    background-image: url('/TO-DO App/images/unchecked.png');
    height: 18px;
    width: 18px;
    left: -38px;
    background-size: cover;
    background-position: center;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    background-image: url('/TO-DO App/images/checked.png');
    height: 18px;
    width: 18px;
    left: -38px;
    background-size: cover;
    background-position: center;
}

ul li span {
    position: absolute;
    top: 6px;
    right: -15px;
    color: #6c6666;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

ul li span:hover {
    position: absolute;
    color: #ee1313;
    padding: 10px;
    font-size: 20px;
    top: 6px;
    right: -15px;
    border-radius: 50%;
    transition: all ease-out 0.2s;
}
